* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

.bg__header {
    background-color: #00A884;
    height: 105px;
}


.bg__main {
    background-color: rgb(220, 219, 209);
    height: calc(100vh - 105px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 95vh;
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
}

.row {
    display: flex;
    height: 100%;
}

.col__nav {
    background-color: white;
    flex-basis: 34%;
    border-right: 1px solid black;

}

.col__chat {
    background-color: blue;
    flex-basis: 66%;
}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: rgb(219, 217, 217);

}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.profile>h4 {
    font-weight: 400;
}

.profile>img {
    width: 40px;
    border-radius: 30px;

}

.controls__nav {
    color: grey;
    display: flex;
    gap: 10px;
}

.notice {
    display: flex;
    align-items: center;
    min-height: 62px;
    background-color: lightskyblue;
    padding: 10px 16px;
    gap: 5px;
}

.silence__notice {
    background-color: white;
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 10px;
    color: lightskyblue;

}

.text__notice>h4 {
    font-weight: 400;
}

.text__notice>p {
    text-decoration: underline;
    color: grey;
    font-size: 0.9rem;

}

.search {
    background-color: rgb(242, 242, 242);
    padding: 5px;
    display: flex;
    gap: 5px;
}

.button__search,
.input__search {
    font-size: 1rem;
    color: grey;
    background-color: white;
    border: none;
    padding: 5px 0;
}

.button__search {
    flex-basis: 17%;
}

.input__search {
    flex-basis: 83%;
}

.contact {
    display: flex;
    gap: 15px;
    padding: 10px;
}
.active{
    background-color: rgb(219, 217, 217);
   
}

.image__contact>img {
    max-width: 60px;
    border-radius: 60px;
    background-color: white;
}

.info__contact>h3 {
    font-weight: 400;
}

.info__contact>p {
    color: grey;
    font-size: 0.9rem;

}

.time__contact {
    margin-left: auto;
    color: grey;
}