* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Roboto', sans-serif;
}

body{
overflow: hidden;
}

.bg__header {
    background-color: #00A884;
    height: 105px;
}


.bg__main {
    background-color: rgb(186, 186, 183);
    height: calc(100vh - 105px);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    height: 95vh;
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
}

.row {
    display: flex;
    height: 100%;
}

/* CSS COL__NAV */

.col__nav {
    background-color: white;
    flex-basis: 400px;
    border-right: 1px solid grey;
    overflow-y: auto;
}

.col__chat {

   flex-grow: 1;
   overflow-y: auto;

}

.header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 10px 16px;
    background-color: rgb(219, 217, 217);

}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

.profile>h4 {
    font-weight: 400;
}

.profile>img {
    width: 40px;
    border-radius: 30px;

}

.controls__nav {
    color: grey;
    display: flex;
    gap: 10px;
}

.notice {
    display: flex;
    align-items: center;
    min-height: 62px;
    background-color: lightskyblue;
    padding: 10px 16px;
    gap: 5px;
}

.silence__notice {
    background-color: white;
    border-radius: 30px;
    font-size: 1.5rem;
    padding: 10px;
    color: lightskyblue;

}

.text__notice>h4 {
    font-weight: 400;
}

.text__notice>p {
    text-decoration: underline;
    color: grey;
    font-size: 0.9rem;

}

.search {
    background-color: rgb(242, 242, 242);
    padding: 5px;
    display: flex;
    gap: 5px;
}

.button__search,
.input__search {
    font-size: 1rem;
    color: grey;
    background-color: white;
    border: none;
    padding: 5px 0;
}

.button__search {
    flex-basis: 17%;
}

.input__search {
    flex-basis: 83%;
}

.contact {
    display: flex;
    gap: 15px;
    padding: 10px;
    border-top: 1px solid #dedede;
 
}

.contact:hover{
    cursor: pointer;
    background-color: rgb(219, 217, 217);
}

.active {
    background-color: rgb(219, 217, 217);

}

.image__contact>img {
    max-width: 60px;
    border-radius: 60px;
    background-color: white;
}

.info__contact>h3 {
    font-weight: 400;
}

.info__contact>p {
    color: grey;
    font-size: 0.9rem;

}

.time__contact {
    margin-left: auto;
    color: grey;
}


/* CSS COL__CHAT  */

.header__chat {
    display: flex;
    align-items: center;
    padding: 10px 16px 6px;
    background-color: rgb(219, 217, 217);

}

.info__chat {

    margin-right: auto;
    padding-left: 5px;

}

.info__chat>h4 {
    font-weight: 400;
}

.image__chat>img {
    width: 40px;
    border-radius: 30px;

}

.info__chat>p {
    color: grey;
    font-size: 0.9rem;

}

.controls__chat {
    color: grey;
    display: flex;
    gap: 1rem;
    font-size: 1.25rem;
}

.main__chat {
    height: calc(100% - 120px);
    background-image: url(../assets/mine.jpg);
    overflow: auto;
}

.all__chat{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    
    
}

.send__chat{
    background-color: #d5f0ba;
    border-radius: 15px;
    padding: 15px;
    width: 40%;
    align-self: flex-end;
    position: relative;
  
 
}

.received__chat{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 40%;
    align-self: flex-start;
    position: relative;
}

.time__chat{
    color: grey;
    font-size: 0.75rem;
    position: absolute;
    right: 10px;
    bottom: 2px;
}


.text__chat {
    display: flex;
    align-items: center;
    padding: 10px 20px 6px;
    background-color: rgb(219, 217, 217);
    height: 60px;
    justify-content: space-between;
    color: rgb(75, 75, 75);
    font-size: 1.25rem;
    gap: 20px;

}

.input__chat {
    flex-basis: 100%;
}

.input__chat>input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;

}

